<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCp4ip4_U1vPkXTtkdT94Ad6iDMqY5C2aY</string>
	<key>GCM_SENDER_ID</key>
	<string>1025811652861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hms</string>
	<key>PROJECT_ID</key>
	<string>hotelmanagementsystem-aa33f</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelmanagementsystem-aa33f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025811652861:ios:ae5c02e76290350b565e94</string>
</dict>
</plist>